body {
  background-image: url(https://static.wikitide.net/windowswallpaperwiki/thumb/2/24/Clouds_%28Windows_95%29.png/200px-Clouds_%28Windows_95%29.png);
  background-size: cover;
  font-family:sans-serif;
  margin: 20px;
   cursor: url('cursor.png') 10 10, auto;
   text-align: center;
   color: teal;
}
table {
  color: teal;
}
img {
  width: 400px;

}