body {
  background-image: url(https://file.garden/ZWlUCY4S7Xz2vypS/for%20my%20neocities/tile%20backgrounds/gingham%20check/seafoam%3B%20light.png);
  background-repeat: ;
  font-family:sans-serif;
  margin: 20px;
   cursor: url('../project/cursor.png') 16 16, auto;
   text-align: center;
   color: teal;
}
table {
  color: teal;
  
}
